.examples-with-pictures {
    flex: 1 0 auto;
    display: flex;
    max-height: 50%;
    justify-content: center;
}

.stock-information {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    text-align: center;
    font-size: 80%;
}

.card-img-top {
    height: 45%;
}

@media (max-height: 850px){
    .examples-with-pictures {
        font-size: 1.5vh;
    }
}

@media (max-width: 800px){
    .examples-with-pictures {
        font-size: 1.5vw;
    }
}
